charts/
.tmp
_build
.DS_Store
*.code-workspace
*.plan
*.tfstate*
.nfs*

.DS_Store
.ansible
.ash_history
.azure/
.bash_history
# don't check storage creds into GH
.boto
.buildlog
.cache
# glcloud files
.config
.gitconfig
.gnupg
.local
*.log
# .netrc contains secrets
.netrc
.oci
.okta_aws_login_config
.password-store
*.pdf
.sentinel
# .ssh may contain private keys
.ssh
.terrascan
# TF state stuff
.terraform
.terraform.d
.terraform.lock.hcl
.vscode

authcodes
# this is a soft link to whatever version in /usr/bin
# so don't commit it for now
bin/terraform
bin/terrascan
go/bin
go/pkg
id_rsa*
init-cfg.txt
oci_private.pem
# these modules should be pulled and built each 
# time since we are developing them still
terraform/*/modules
tfplan.json
vendor

__pycache__ 

# LaTeX/Beamer
*.aux
*.fdb_latexmk 
*.fls
*.nav
*.out
# *.pdf
*.snm
*.synctex.gz
*.toc
